{% extends "base.html" %}
{% load i18n static %}

{% block content %}
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
		    <div class="mdl-layout__header-row">
		      <!-- Title -->
		      <span class="mdl-layout-title">Title</span>
		      <!-- Add spacer, to align navigation to the right -->
		      <div class="mdl-layout-spacer"></div>
		      <!-- Navigation. We hide it in small screens. -->
		      <nav class="mdl-navigation mdl-layout--large-screen-only">
		        <a class="mdl-navigation__link" href="{% url 'user:logout' %}">Log out</a>
		      </nav>
		    </div>
		  </header>
		  <div class="mdl-layout__drawer">
		    <span class="mdl-layout-title">Title</span>
		    <nav class="mdl-navigation">
		      <a class="mdl-navigation__link" href="{% url 'user:logout' %}">Log out</a>
		    </nav>
		</div>
      	<main class="mdl-layout__content mdl-color--grey-100">
          {% block main_content %}{% endblock main_content %}

          	<footer class="mdl-mini-footer">
              	<div class="mdl-mini-footer__left-section">
                  	<div class="mdl-logo">WWW.IMETER24.COM</div>
              	</div>
              	<div class="mdl-mini-footer__right-section">
                  	<ul class="mdl-mini-footer__link-list">
                      <li><a href="#">Help</a></li>
                      <li><a href="#">Privacy &amp; Terms</a></li>
                  	</ul>
              </div>
          	</footer>
      	</main>

    </div>

{% endblock content %}
